



h2 {
  color: #333; /* Darker color for the title */
  font-family: 'Arial', sans-serif; /* Change font for a modern look */
  font-weight: bold;
  margin-bottom: 40px;
}

.card {
  border: none; /* Remove default card border */
  border-radius: 10px; /* Rounded corners for cards */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover effects */
}

.card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

.card-title {
  color: #f38e09; /* Bootstrap primary color for the title */
  font-size: 1.25rem; /* Increase title font size */
  font-weight: 600;
}

.card-text {
  color: #555; /* Muted text color for description */
  font-size: 0.95rem;
}

.achievement-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; /* Round corners for the top of the image */
  height: 200px; /* Set fixed height for images */
  object-fit: cover; /* Ensure the image covers the area */
}



.pagination {
  margin-top: 20px;
}

.pagination .page-item.active .page-link {
  background-color: #0c0d0e; /* Active page color */
  border-color: #ced4da; /* Remove border for active page */
}

.pagination .page-link {
  color: #080808; /* Page link color */
  border: 1px solid #0c0d0e; /* Border color for page links */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s;
}

.pagination .page-link:hover {
  background-color: #f59c17; /* Hover effect for links */
  color: white; /* Change text color on hover */
}
