/* From Uiverse.io by aboalsim114 */ 
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
    padding: 20px;
    background: linear-gradient(to bottom, #e79121, #e9c09d);
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: form-animation 0.5s ease-in-out;
  }
  
  @keyframes form-animation {
    from {
      transform: rotateX(-30deg);
      opacity: 0;
    }
  
    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  
  .input {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    color: rgb(7, 7, 7);
    font-size: 15px;
    border: 2px solid #573f0b;
    box-shadow: rgba(231, 224, 224, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .input::placeholder {
    color: #fff;
  }
  
  .input:hover,
  .input:focus {
    border-color: #e79121;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05) rotateY(10deg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e79121;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  button:hover {
    background-color: #b4bebe;
    font-size: 17px;
    color: #080808;
    font-weight: bolder;
    transform: scale(1.05) rotateY(10deg) rotateX(10deg);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  /* From Uiverse.io by SouravBandyopadhyay */ 
.contactcard-title {
    color: #080808;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-family:cursive;
    text-transform:uppercase;
   
  }
  
  .small-desc {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #080808;
  }
  
  .atext {
    text-decoration: none;
    color: #080808;
    font-size: large;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #dd9207, #c2cad8);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .contactcard {
    display: block;
    position: relative;
    height: 400px;
    border-radius: 10px;
    padding: 2em 1.2em;
    
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #abbdc0, #b7c8cc);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .contactcard:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #3d4042dc, #636870);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .contactcard:hover:before {
    transform: scale(28);
  }
  

  .contactcard:hover .contactcard-title {
    transition: all 0.5s ease-out;
    color: #f16a0f;
  }
 .contact-form-area{
  margin-top: 40px;
 }